spring:
  datasource:
    url:  jdbc:sqlserver://java-azure-sqldb-server-103.database.windows.net:1433;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;
    username: satyam_azure
    password: patel@20000
    driver-class-name: com.mysql.cj.jdbc.Driver  # Replace with your database driver

  jpa:
    hibernate:
      ddl-auto: create  # You can set this to "create" for initial setup, but be careful in production.
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect  # Replace with your database dialect

server:
  port: 8080  # Port number for your Spring Boot application
